body{
    margin-top: 200px;
    background-image: url('/Images/maths.jpg');
}
h1{
    color:orange;;
    -webkit-text-stroke: 1.5px black;
    text-align: center;
    text-decoration:underline rgb(0, 0, 0);
    font-size: 70px;
}